{% extends "../base.html" %}

{% load static %}

{% block nav %}
<nav style="background-color: rgba(0, 0, 0, 0);" class="header header__container navbar navbar-expand-lg navbar-light ml-5 mr-5 mt-4 d-none d-lg-block">
    <a class="navbar-brand fixed mt-3 ml-5" style="width: 100px;" href="/"><img src="{% static 'img/logo-full.svg' %}" alt="OkiDoki logo" /></a>
    
    <div class="menu-burger__header light ml-auto">
      <span></span>
    </div>

    <div class="mr-auto header__nav mt-3" id="navbarSupportedContent" style="background-color: rgba(0, 0, 0, 0);">
      <ul class="ml-auto menu header__menu">
          <li class="menu__item" style="margin-left: 50px; margin-top: 10px;"><a href="#" class="nav-link nav-text" style="color: #3333a9; font-weight: bold;">Возможности</a></li>
          <li class="menu__item" style="margin-left: 50px; margin-top: 10px;"><a href="#" class="nav-link nav-text" style="color: #3333a9; font-weight: bold;">Цены</a></li>
          <li class="menu__item" style="margin-left: 50px;"><a href="#" class="nav-link nav-text" style="color: #3333a9; background-color: #e9ecf7; border-radius: 25px; width: 150px; height: 50px; font-weight: bold; text-align: center; padding-top: 15px;">Контакты</a></li>
          {% if request.user.is_authenticated %}
              <li class="nav-item menu__item" style="margin-left: 50px; margin-top: 10px;"><a href="/work/settings" class="nav-link nav-text" style="color: #3333a9; font-weight: bold;">Профиль</a></li>
          {% endif %}
          {% if request.user.is_authenticated == False %}
            <li class="nav-item menu__item" style="margin-left: 50px;  margin-top: 10px;"><a href="/accounts/login" class="nav-link nav-text" style="color: #3333a9; font-weight: bold;">Войти</a></li>
          {% endif %}
      </ul>
    </div>
  </nav>

<div style="position: absolute; left: 0; top 0; z-index: 5;">
    <a href="/accounts/login" class="d-lg-none mt-5 ml-5" style="display: block; font-size: xx-large; font-weight: 700; color: black;"><img src="{% static 'img/back.svg' %}" style="margin-bottom: 5px;"> Вход</a>
</div>

<nav style="background-color: rgba(0, 0, 0, 0);" class="header header__container navbar navbar-expand-lg navbar-light ml-5 mr-5 mt-4 d-lg-none">
    <a class="navbar-brand" style="width: 100px; margin: 190px 26vw; transform: scale(3);" href="/"><img src="{% static 'img/logo-full.svg' %}" alt="OkiDoki logo" /></a>
</nav>
{% endblock nav %}

{% block main %}

<style>
    .signForm{
        font-size: 15pt;
        margin-top: 200px;
    }

    @media(max-width: 980px){
        .signForm{
            transform: scale(1.5);
            margin: 400px 26vw;
        }
        .loginForm{
            transform: scale(1.2);
            margin-top: 100px;
        }
    }
</style>

<div class="signForm" style="margin-top: 250px;">
    <h1 class="sing-h1">Регистрация</h1>

    <div style="width: 500px; margin: 0 auto;">
        <ol class="c-stepper">
            <li class="c-stepper__item mt-3">
                <h3 class="c-stepper__title digit active">1</h3>
                <p class="c-stepper__desc mt-3">Личная информация</p>
            </li>
            <li class="c-stepper__item mt-3">
                <h3 id="2" class="c-stepper__title digit">2</h3>
                <p class="c-stepper__desc mt-3">Паспортные данные</p>
            </li>
            <li class="c-stepper__item mt-3">
                <h3 id="3" class="c-stepper__title digit">3</h3>
                <p class="c-stepper__desc mt-3">Информация об организации</p>
            </li>
        </ol>
    </div>
    

    <div class="row align-items-center loginForm">
        <div class="col-offset-8 mx-auto mt-3">
            <form action="" method="post">
                {% csrf_token %}

                {% if step == 1 %}
                    <label for="input">ФИО</label>
                    {{form.name}}<br>
                    <label for="input">Номер телефона</label>
                    {{form.phone}}<br>
                    <label for="input">E-mail</label>
                    {{form.email}}<br>
                    <button class="next" type="sumbit" name="2" style="width: 500px;">Далее</button>
                    <a href="/accounts/registerClient/" class="nav-link nav-text" style="margin-top: 20px; color: #3333a9; background-color: #fff; border: #3333a9 solid 2px; border-radius: 5px; width: auto; height: auto; font-weight: bold; text-align: center; padding-top: 11px;">Зарегистрироваться как клиент</a>
                    <script>document.getElementById("2").classList.remove('active');
                    document.getElementById("3").classList.remove('active');</script>
                {% endif %}

                {% if step == 2 %}
                    <label for="input">Паспортные данные</label>
                    {{form.pasport}}<br>
                    {{form.pasport_otdel}}<br>
                    {{form.pasport_code}}<br>
                    {{form.date_pasport}}<br>
                    <label for="input">Место регистрации</label>
                    {{form.registr}}<br>
                    <label for="input">Дата рождения</label>
                    {{form.date_burn}}<br>
                    <button class="next" type="button" onclick="window.location.href = 'javascript:history.back()';" style="width: 250px;">Назад</button>
                    <button class="next" type="submit" name="3" style="width: 250px; margin: 10px auto;">Далее</button>
                    <script>document.getElementById("2").classList.add('active');</script>
                    <div class="none" style="visibility: hidden;">
                        {{form.name}}
                        {{form.phone}}
                        {{form.email}}
                    </div>
                {% endif %}
                
                {% if step == 3 %}
                  <label for="input">Полное наименование организации</label>
                    {{form.organisation}}<br>
                    <div class="row">
                        <div class="col">
                            <label for="input">ИНН</label>
                            {{form.inn}}<br>
                            <label for="input">Название банка</label>
                            {{form.name_bank}}<br>
                            <label for="input">Счёт</label>
                            {{form.schet}}<br>
                        </div>

                        <div class="col" style="margin-left: -5px;">
                            <label for="input">ОГРН</label>
                            {{form.ogrn}}<br>
                            <label for="input">БИК банка</label>
                            {{form.bik}}<br>
                            <label for="input">Корпоративный счёт</label>
                            {{form.korp_schet}}<br>
                        </div>
                    </div>
                    
                    
                    <button class="next" onclick="window.location.href = 'javascript:history.back()';" style="width: 250px; margin: 10px auto;">Назад</button>
                    <button class="next" type="submit" name="4" style="width: 250px; margin: 10px auto;">Далее</button>
                    <script>document.getElementById("3").classList.add('active');</script>
                    <div class="none" style="visibility: hidden;">
                        {{form.name}}
                        {{form.phone}}
                        {{form.email}}
                        {{form.pasport}}
                        {{form.pasport_otdel}}
                        {{form.pasport_code}}
                        {{form.date_pasport}}
                        {{form.registr}}
                        {{form.date_burn}}
                    </div>
                {% endif %}

                {% if step == 4 %}
                    <label for="input">На ваш номер отправлено смс с кодом. Введите его для завершения регистрации</label>
                    <div style="margin: 0 auto; text-align: center;">
                        <input type="text" class="form-control" name="sms" style="width: 200px; margin: 20px auto;" placeholder="Код из СМС">
                        <button class="next" type="sumbit" name="5" style="width: 200px;">Далее</button>
                    </div>

                    <div class="none" style="visibility: hidden; width: 0; height: 0;">
                        {{form.phone}}
                    </div>

                {% endif %}

            </form>
        </div>

    </div>
</div>
<br><br><br>

<script>
    $(function($) {
        $("#phone").mask('+9 (999) 999-99-99');
        $("#pasport").mask('9999 999999');
        $("#pasport_code").mask("999-999");
        $('#inn').mask('9999999999');
        $('#ogrn').mask('9999999999999');
        $('#bik').mask('049999999');
        $('#korp_schet').mask('999999999');
        $('#schet').mask('999999999');
    });
</script>

{% endblock main %}