{% extends "../base.html" %}

{% load static %}

{% block main %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="{% static 'accounts.css' %}" rel="stylesheet" type="text/css" />

<div style="margin-top: 150px; height: 75vh;">
    <h1 class="sing-h1">Регистрация</h1>

    <ol class="c-stepper ">
        <li class="c-stepper__item">
            <h3 class="c-stepper__title digit active">1</h3>
            <p class="c-stepper__desc mt-3">Данные</p>
        </li>
        <li class="c-stepper__item">
            <h3 id="2" class="c-stepper__title digit">2</h3>
            <p class="c-stepper__desc mt-3">Подтверждение</p>
        </li>
    </ol>

    <div class="row align-items-center">
        <div class="col-offset-8 mx-auto mt-3">
            <form action="" method="post">
                {% csrf_token %}

                {% if step == 1 %}
                    <label for="input">ФИО</label>
                    {{form.name}}<br>
                    <label for="input">Номер телефона</label>
                    {{form.phone}}<br>
                    <label for="input">E-mail</label>
                    {{form.email}}<br>
                    
                    <label for="input">Паспортные данные</label>
                    {{form.pasport}}<br>
                    {{form.pasport_otdel}}<br>
                    {{form.pasport_code}}<br>
                    {{form.date_pasport}}<br>
                    <label for="input">Место регистрации</label>
                    {{form.registr}}<br>
                    <label for="input">Дата рождения</label>
                    {{form.date_burn}}<br>
                    <a href="/accounts/register/" class="nav-link nav-text" style="color: #3333a9; background-color: #fff; border: #3333a9 solid 2px; border-radius: 15px; width: auto; height: auto; font-weight: bold; text-align: center; padding-top: 11px;">Зарегистрироваться как предприниматель</a><br>
                    <button class="next" type="submit" name="send_sms">Далее</button>
                    <script>document.getElementById("2").classList.add('active');</script>
                    <div class="none" style="visibility: hidden;">
                    <script>document.getElementById("2").classList.remove('active');</script>
                {% endif %}


                {% if step == 2 %}

                    <label for="input">На ваш номер отправлено смс с кодом. Введите его для завершения регистрации</label>
                    <div style="margin-left: 220px;">
                        <input type="text" class="form-control" name="sms" style="width: 200px;" placeholder="Код из СМС">
                        <button class="next mt-5" type="sumbit" name="login">Далее</button>
                    </div>

                    <div class="none" style="visibility: hidden;">
                        {{form}}
                    </div>
                  
                    <script>document.getElementById("2").classList.add('active');</script>
                {% endif %}

            </form>
        </div>

    </div>
</div>
{% endblock main %}