{% extends "../base.html" %}
{% load static %}

{% block main %}

{% block nav %}
  
{% endblock nav %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css" />

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
              <div class="modal-body">
                  {% csrf_token %}
                  <div class="sing-h1 mt-5" style="font-size: 15pt; margin: auto;">
                    <form action="/accounts/login/" method="post">
                        {% csrf_token %}
                        <h1 class="sing-h1">Вход</h1>
                        <input type="text" class="form-control mt-3" name="phone" style="width: 300px; display: block; margin-left: auto; margin-right: auto;" placeholder="Номер телефона">
                        <p style="font-size: 9pt;">Нет аккаунта? <a href="/accounts/register/">Создайте его!</a></p>
                        <button class="next" type="sumbit" name="num">Далее</button>
                    </form>
                </div>
              </div>
      </div>
    </div>
  </div>
</div>

<div class="mainPage">
  <nav class="header header__container fixed mt-5">
    <div class="row">
      <div class="col"><div class="ml-5"><a href="/"><img src="{% static 'img/logo-full-dark.svg' %}" alt="OkiDoki logo" /></a></div></div>
      <div class="col">
        <div class="menu-burger__header ml-auto mr-5">
          <span></span>
        </div>
      </div>
    </div>    

    <div class="mr-auto header__nav" id="navbarSupportedContent">
      <ul class="ml-auto menu header__menu">
          <li class="menu__item" style="margin-left: 50px; margin-top: 10px;"><a href="#" class="nav-link nav-text" style="color: white; font-weight: bold;">Возможности</a></li>
          <li class="menu__item" style="margin-left: 50px; margin-top: 10px;"><a href="#" class="nav-link nav-text" style="color: white; font-weight: bold;">Цены</a></li>
          <li class="menu__item" style="margin-left: 50px;"><a href="#" class="nav-link nav-text" style="color: #3333a9; background-color: white; border-radius: 25px; width: 150px; height: 50px; font-weight: bold; text-align: center; padding-top: 15px;">Контакты</a></li>
          {% if request.user.is_authenticated %}
              <li class="nav-item menu__item" style="margin-left: 50px; margin-top: 10px;"><a class="nav-link nav-text" href="/work/settings" style="color: white; font-weight: bold;">Профиль</a></li>
          {% endif %}
          {% if request.user.is_authenticated == False %}
            <li class="nav-item menu__item" style="margin-left: 50px;  margin-top: 10px;"><a class="nav-link nav-text" style="color: white; font-weight: bold;" data-toggle="modal" data-target="#myModal">Войти</a></li>
          {% endif %}
      </ul>
    </div>
  </nav>

    <img src="{% static 'img/pages/main/bg-vector-1.svg' %}" alt="" class="bg-vector-1" />

    <div class="headers-container" style="margin-top: 200px;">
      <h1>Электронный договор для вашего бизнеса</h1>
      <h2>
        ОкіDокі простой и удобный сервис для передачи и подписи договора вашими клиентам. Забудьте про кипы архивов, принтерах и заваленных договорами полках!
      </h2>
    

      <button class="get-started-button" onclick="location.href='/accounts/register/'">
        Начать бесплатно
      </button>
    </div>
    <img src="{% static 'img/pages/main/project-screenshots.png' %}" alt="" class="project-screenshots" />

    <img src="{% static 'img/pages/main/bg-vector-2.svg' %}" alt="" class="bg-vector-2" />
</div>

<script>
  var myModal = document.getElementById('myModal')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
  })
</script>

{% endblock main %}