.workPage {
    margin: 100px auto;
    max-width: 1000px;
    width: calc(100%-60px);
}


/* NavBar */
.nav-bar{
    margin: 0 auto;
    width: 100%;
    display: block;
    overflow-x: auto;
}

.navItem{
    flex: 1 1;
    flex-shrink: 0;
    flex-wrap: nowrap;
    border-bottom: 2px solid #e9ecf7;
    padding: 15px 10px;
    margin-left: 14%;
    white-space: nowrap;
    transition: .32s;

    font: 12pt "Gilroy",sans-serif;
    font-weight: 700;
    color: #0e1f4d;
    text-align: center;
}

.navItemActive{
    border-bottom: 2px solid #0e1f4d;
}


/* NewDoc */

.newDoc{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
.templateCard{
    width: 100%;
    margin: 5px auto;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    text-decoration: none; color: #000;
    font-weight: 700;
    font-size: 14pt;
}


/* Signature */

.searchInpt{
    display: inline;
    width: 260px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(142,148,177,.5);
    margin: 10px 0;
}


/* Templates */

.addBtn{
    color: #fff;
    background-color: #3333a9;
    border-radius: 10px;
    border: 0;
    width: 150px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    float: right;
    margin: 10px auto;
}


/* Profile and Settings */

.page{
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 0;
}

.profile-card{
    width: 800px;
    margin: 50px auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    transform: scale(1.125);
}

.name_user{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 20px;

    display: flex;
    align-items: center;
    letter-spacing: -0.016em;

    color: #0E1F4D;
    margin-top: 50px;
    margin-bottom: 50px;
}

.name_data{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 20px;

    display: inline;
    align-items: center;
    letter-spacing: -0.408px;

    color: #0E1F4D;
    margin-top: 50px;
    margin-bottom: 50px;
}

.data_inf{
    font-family: 'Gilroy';
    font-style: normal;
    text-align: left;
    font-weight: 500;
    font-size: 40px;
    line-height: 20px;
    /* identical to box height, or 93% */

    display: inline;
    letter-spacing: -0.408px;

    color: #6E7994;
    margin-bottom: 50px;
}

tr, table, tbody, td{
    border-top: 0 !important;
}