{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no" />
    <title>OkiDoki</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'accounts.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/gliroy/stylesheet.css' %}">
    <link href="{% static 'navbar.css' %}" rel="stylesheet" type="text/css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
</head>
<body>

  {% block bg %}
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css" />
    <img src="{% static 'img/bg-vector-2.svg' %}" alt="" class="bg-vector-1 fixed" />

  {% endblock bg %}

  <div style="position: absolute; top: 3vh; left: 0; width: 100%; z-index: 999;">
    {% for message in messages %}
      <div class="d-lg-none" id="message">
        <div style="width: 90vw; margin: 10px auto; border-radius: 15px; box-shadow: 0 0 30px rgb(34 34 34 / 30%); text-decoration: none; color: #000; z-index: 99999; background-color: #fff;">
          <div class="card-body">
            <div class="row">
              <div class="col-10">
                <a style="color:#000; font-size: 50pt; word-wrap: break-word;">
                  {% autoescape off %}
                    {{message}}
                  {% endautoescape %}
                </a>  
              </div>
              <div class="col">
                <button type="button" style="transform: scale(3); border: 0;" name='close' class="ml-auto mb-1 close" data-dismiss="toast" aria-label="Close" onclick="
                var message = document.getElementById('message');
                message.parentNode.removeChild(message);
                "><span aria-hidden="true">&times;</span></button>
              </div>
            </div>   
          </div>
        </div>
      </div>        
    {% endfor %}
  </div>

    {% block nav %}
      <nav style="background-color: rgba(0, 0, 0, 0);" class="header header__container navbar navbar-expand-lg navbar-light d-none d-lg-block">
        <a class="navbar-brand mt-3 ml-5" style="width: 100px;" href="/"><img src="{% static 'img/logo-full.svg' %}" alt="OkiDoki logo" /></a>
        
        <div class="menu-burger__header light ml-auto">
          <span></span>
        </div>
    
        <div class="header__nav" id="navbarSupportedContent" style="background-color: #fff;">
          <ul class="ml-auto menu header__menu">
              <li class="menu__item" style="margin-left: 50px; margin-top: 10px;"><a href="#" class="nav-link nav-text" style="color: #3333a9; font-weight: bold;">Возможности</a></li>
              <li class="menu__item" style="margin-left: 50px; margin-top: 10px;"><a href="#" class="nav-link nav-text" style="color: #3333a9; font-weight: bold;">Цены</a></li>
              <li class="menu__item" style="margin-left: 50px;"><a href="#" class="nav-link nav-text" style="color: #3333a9; background-color: #e9ecf7; border-radius: 25px; width: 150px; height: 50px; font-weight: bold; text-align: center; padding-top: 15px;">Контакты</a></li>
              {% if request.user.is_authenticated %}
                  <li class="nav-item menu__item" style="margin-left: 50px; margin-top: 10px;"><a href="/work/settings" class="nav-link nav-text" style="color: #3333a9; font-weight: bold;">Профиль</a></li>
              {% endif %}
              {% if request.user.is_authenticated == False %}
                <li class="nav-item menu__item" style="margin-left: 50px;  margin-top: 10px;"><a href="/accounts/login" class="nav-link nav-text" style="color: #3333a9; font-weight: bold;">Войти</a></li>
              {% endif %}
          </ul>
        </div>
      </nav>
    {% endblock nav %}

    <div style="position: absolute; bottom: 10vh; right: 5vw; z-index: 999;">
      {% for message in messages  %}
        <div class="toast_ d-none d-lg-block" id="toast" role="alert" aria-live="assertive" style="margin-left: auto; z-index: 999;">
            <div class="toast-header">
            <img src="{% static 'img/logo-full.svg' %}" class="rounded mr-2">
            <button type="button" name='close' class="ml-auto mb-1 close" data-dismiss="toast" aria-label="Close" onclick="
            var message = document.getElementById('toast');
            message.parentNode.removeChild(message);
            ">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="toast-body">
              {% autoescape off %}
                {{message}}
              {% endautoescape %}
            </div>
        </div>
      {% endfor %}
    </div>
    
    {% if request.user.is_authenticated %}
      {% block work %}
        
      {% endblock work %}
    {% endif %}

    {% block main %}
        
    {% endblock main %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
      $(document).ready(function() {
      $('.menu-burger__header').click(function() {
          $('.menu-burger__header').toggleClass('open-menu');
          $('.header__menu').toggleClass('header__menu_active');
      });
    }); 
  </script>

  <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
  </script>


<style>
  input, select, select:focus, textarea:focus, input:focus{
    font-size: 16px !important;
  }
</style>

</body>
</html>