{% extends "../base.html" %}
{% load static %}

{% block bg %}
  
{% endblock bg %}

{% block nav %}
    {% if user.organisation == None %}
        <nav style="background-color: rgba(0, 0, 0, 0);" class="navbar navbar-light bg-light" style="height: 150px;">
            <a class="navbar-brand ml-5" href="/work/newDoc" style="transform: scale(2); z-index: 2;"><img src="{% static 'img/back.svg' %}" alt=""></a>
            <span class="navbar-brand mb-0 h1" style="margin: 0 auto; font-size: xx-large; transform: scale(2);">Новый договор</span>
        </nav>
    {% else %}
    <nav style="background-color: rgba(0, 0, 0, 0);" class="header header__container navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand mt-3 ml-5" style="width: 100px;" href="/"><img src="{% static 'img/logo-full.svg' %}" alt="OkiDoki logo" /></a>        
        <div class="mr-auto header__nav mt-3" id="navbarSupportedContent" style="background-color: rgba(0, 0, 0, 0);">
        <ul class="ml-auto menu header__menu">
            <li class="menu__item" style="margin-left: 50px; margin-top: 10px;"><a href="#" class="nav-link nav-text" style="color: #3333a9; font-weight: bold;">Возможности</a></li>
            <li class="menu__item" style="margin-left: 50px; margin-top: 10px;"><a href="#" class="nav-link nav-text" style="color: #3333a9; font-weight: bold;">Цены</a></li>
            <li class="menu__item" style="margin-left: 50px;"><a href="#" class="nav-link nav-text" style="color: #3333a9; background-color: #e9ecf7; border-radius: 25px; width: 150px; height: 50px; font-weight: bold; text-align: center; padding-top: 15px;">Контакты</a></li>
            {% if request.user.is_authenticated %}
                <li class="nav-item menu__item" style="margin-left: 50px; margin-top: 10px;"><a href="/work/settings" class="nav-link nav-text" style="color: #3333a9; font-weight: bold;">Профиль</a></li>
            {% endif %}
            {% if request.user.is_authenticated == False %}
                <li class="nav-item menu__item" style="margin-left: 50px;  margin-top: 10px;"><a href="/accounts/login" class="nav-link nav-text" style="color: #3333a9; font-weight: bold;">Войти</a></li>
            {% endif %}
        </ul>
        </div>
    </nav>
    {% endif %}
{% endblock nav %}


{% block work %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'work.css' %}">

<div class="container workPage">
    
    
    <div class="nav-bar">
        <ul style="white-space:nowrap; overflow-x: auto; height: 60px;">
            <a class="navItem navItemActive" id="newDoc" href="/work/newDoc" style="margin-left: 0;">Новый договор</a>
            <a class="navItem" id="signature" href="/work/signature">Подписанные</a>
            <a class="navItem" id="templates" href="/work/templates">Шаблоны</a>
            <a class="navItem" id="settings" href="/work/settings">Настройки и профиль</a>
        </ul>
    </div>

    <div class="row">

        <div class="col-7">
        <form action="" method="post">
            {% csrf_token %}
            <h1 class="organisation-h1" style="display: inline; margin-left: 0;">{{name}}</h1>

                <div class=" mt-5">
                <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit" name="signature" id="signature" style="color: #fff; background-color: #3333a9; border:  0; border-radius: 5px; width: 200px; height: 50px; font-weight: bold; text-align: center;" 
                    onclick="
                    document.getElementById('template').value = myEditor.getData();
                    ">Выставить на подпись</button>

                    {% if urlSignature %}
                        <button type="button" name="signature" id="signature" style="color: #fff; background-color: #3333a9; border:  0; border-radius: 5px; width: 180px; height: 50px; font-weight: bold; text-align: center; margin-top: 0;" 
                        onclick="
                        var area = document.createElement('textarea');
                        document.body.appendChild(area);  
                        area.value = '{{urlSignature}}';
                        area.select();
                        document.execCommand('copy');
                        document.body.removeChild(area); 
                        ">Скопировать ссылку</button>
                    {% endif %}

                    <input style="width: 0; height: 0; visibility: hidden;" name="template" id="template" type="text">
                    
                </div>
                
            <input name="editor" id="edit" type="text" style="visibility: hidden;">

                    <div class="edit-blok" style="margin: 30px 0; width: 100%;">
                        <div class="editor" id="editor" name='editor' contenteditable="true" data-gramm="false">
                            {% autoescape off %}
                            {{texts}}
                            {% endautoescape %}
                        </div>
                    </div>  
        </div>
        <div class="col" style="margin-top: 50px;">
            
            <h1 style="margin-top: 50px; font-size: x-large;">Директивы</h1>
            
            {% for directive in directives %}

                <div style="width: 350px; margin: 5px 0; border-radius: 15px; -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);text-decoration: none; color: #000;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <button class="btn" type="button" data-toggle="modal" data-target="#myModal1" 
                                onclick="document.getElementById('name1').value = '{{directive.name}}'; document.getElementById('desc1').value = '{{ directive.desc }}'; document.getElementById('id_directive').value = '{{ directive.id }}';"
                                >
                                    <h6>{{ open }}{{ directive.name }}{{ close }}</h6>
                                    <p>{{directive.desc}}</p>
                                    
                                    <input class="form-control" type="text" name="{{directive.name}}" id="{{directive.name}}">
                                    <label for="{{directive.name}}">Введите значение перед тем как выставить на подпись</label>
                                    
                                </button> 
                            </div>
                            <div class="col" style="margin-right: auto;">
                                <button type="button" style="background-color: #fff; border: 0; transform: scale(0.5);" onclick="
                                var area = document.createElement('textarea');
                                document.body.appendChild(area);  
                                area.value = '{{open}}' + '{{ directive.name }}' + '{{close}}';
                                area.select();
                                document.execCommand('copy');
                                document.body.removeChild(area); 
                                "><img src="{% static 'img/copy.png' %}" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
            </ul>
            </form>

        </form>
   </div>


</div>
  <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
  <script>
    var myEditor;
    ClassicEditor
        .create( document.querySelector( '#editor' ) ).then(
            editor => {
                myEditor = editor;
            }
        )
        .catch( error => {
            console.error( error );
        } );
   </script>
{% endblock work %}