{% extends "../base.html" %}
{% load static %}

{% block nav %}
    {% if user.organisation == None %}
        <nav class="navbar navbar-light bg-light" style="height: 150px;">
            <a class="navbar-brand ml-5" href="/work/newDoc" style="transform: scale(2); z-index: 2;"><img src="{% static 'img/back.svg' %}" alt=""></a>
            <span class="navbar-brand mb-0 h1" style="margin: 0 auto; font-size: xx-large; transform: scale(2);">Новый договор</span>
        </nav>
    {% else %}
        <nav class="navbar navbar-light bg-light" style="height: 80px;">
            <a href="/work/newDoc"  class="navbar-brand ml-5"style="transform: scale(1.5); z-index: 2;"><img src="{% static 'img/back.svg' %}" alt=""></a>
            <span class="navbar-brand mb-0 h1" style="margin: 0 auto; font-size: x-large; transform: scale(1.5);">Новый договор</span>
        </nav>
    {% endif %}
{% endblock nav %}


{% block work %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'work.css' %}">

<div class="workPage">

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <div class="madal-title"><h1 class="title-blok mt-3 ml-3">Добавление директивы</h1></div>
              </div>
              
                <form action="" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <label for="input">Введите название директивы. Разрешены только латинские буквы и нижние подчеркивания!</label>
                        {{form.name}}
                        <label for="input" class="mt-3">Введите описание(которое удобно вам)</label>
                        {{form.desc}}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default mt-3" data-dismiss="modal">Назад</button>
                        <button type="submit" name="directive" class="btn btn-primary mt-3">Сохранить</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    
    <div class="nav-bar">
        <ul>
            <li class="navItem" id="newDoc" style="border-color: #0e1f4d;"><a href="/work/newDoc">Новый договор</a></li>
            <li class="navItem" id="signature"><a href="/work/signature">Подписаные</a></li>
            <li class="navItem" id="templates"><a href="/work/templates">Шаблоны</a></li>
            <li class="navItem" id="settings"><a href="/work/settings">Настройки и профиль</a></li>
        </ul>
    </div>

    <div class="row">

        <div class="col-lg-8">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row" style="margin-left: 150px;">
                <div class="col-6">
                    <h1 class="organisation-h1">{{name}}</h1>
                </div>
                <div class="col">

                    <div class="row" style="margin-right: 50px;">
                        <div class=" mt-5">
                            <form action="" method="post">
                                {% csrf_token %}
                                <button type="submit" name="signature" id="signature" style="color: #3333a9; background-color: #fff; border: #3333a9 solid 2px; border-radius: 15px; width: 150px; height: 50px; font-weight: bold; text-align: center;" 
                                onclick="
                                document.getElementById('template').value = myEditor.getData();
                                ">Выставить на подпись</button>

                                {% if urlSignature %}
                                    <button type="button" name="signature" id="signature" style="color: #3333a9; background-color: #fff; border: #3333a9 solid 2px; border-radius: 15px; width: 150px; height: 50px; font-weight: bold; text-align: center;" 
                                    onclick="
                                    var area = document.createElement('textarea');
                                    document.body.appendChild(area);  
                                    area.value = '{{urlSignature}}';
                                    area.select();
                                    document.execCommand('copy');
                                    document.body.removeChild(area); 
                                    ">Скопировать ссылку</button>
                                {% endif %}

                                <input style="width: 0; height: 0; visibility: hidden;" name="template" id="template" type="text">
                            
                        </div>
                    </div>
                
                    <input name="editor" id="edit" type="text" style="visibility: hidden;">

                </div><hr>
            </div>

                    <div class="edit-blok" style="margin: 30px 20%;">
                        <div class="editor" id="editor" name='editor' contenteditable="true" data-gramm="false">
                            {% autoescape off %}
                            {{texts}}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>

        <div class="col-4" style="margin: 0 auto;">

            <div class="row">
                <div class="col">
                    <h1 style="margin-top: 50px; font-size: x-large;">Мои директивы</h1>
                </div>
            </div>
            <ul>
            {% for directive in directives %}
                <li>
                    <div class="row">
                        <div class="col">
                            <h6>{{ open }}{{ directive.name }}{{ close }}</h6>
                            <p>{{directive.desc}}</p>
                            
                            <input class="form-control" type="text" name="{{directive.name}}" id="{{directive.name}}">
                            <label for="{{directive.name}}">Введите значение перед тем как выставить на подпись</label>
                        </div>

                        <div class="col">
                            <button style="background-color: #fff; border: 0; transform: scale(0.5);" onclick="
                            var area = document.createElement('textarea');
                            document.body.appendChild(area);  
                            area.value = '{{open}}' + '{{ directive.name }}' + '{{close}}';
                            area.select();
                            document.execCommand('copy');
                            document.body.removeChild(area); 
                            "><img src="{% static 'img/copy.png' %}" alt=""></button>
                        </div>
                    </div>
            
                </li>
            {% endfor %}
            </ul>
        </form>

            <h1 style="margin-top: 50px; font-size: x-large;">Системные директивы</h1>

            {% for directive in system_directives %}
                <li>
                    <div class="row">
                        <div class="col">
                            <h6>{{ open }}{{ directive.name }}{{ close }}</h6>
                            <p>{{directive.desc}}</p>
                        </div>

                        <div class="col">
                            <button style="background-color: #fff; border: 0; transform: scale(0.5);" onclick="
                            var area = document.createElement('textarea');
                            document.body.appendChild(area);  
                            area.value = '{{open}}' + '{{ directive.name }}' + '{{close}}';
                            area.select();
                            document.execCommand('copy');
                            document.body.removeChild(area); 
                            "><img src="{% static 'img/copy.png' %}" alt=""></button>
                        </div>
                    </div>

                </li>
            </ul>
            {% endfor %}

        </div>

        </form>
   </div>


</div>
  <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
  <script>
    var myEditor;
    ClassicEditor
        .create( document.querySelector( '#editor' ) ).then(
            editor => {
                myEditor = editor;
            }
        )
        .catch( error => {
            console.error( error );
        } );
   </script>

{% endblock work %}