{% extends "../base.html" %}
{% load static %}


{% block work %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'work.css' %}">

<div class="workPage">

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" heiht='500px'>
        <div class="modal-dialog modal-x" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <div class="madal-title"><h1 class="title-blok mt-3 ml-3">Добавление шаблона</h1></div>
              </div>
              
                <form action="" method="post">
                    <div class="modal-body">
                            {% csrf_token %}
                            <label for="sms">На ваш номер отправлено смс с кодом подтверждения</label>
                            <input type="text" name="sms" class="form-control" placeholder="СМС код">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default mt-3" data-dismiss="modal">Назад</button>
                        <button type="submit" class="btn btn-primary mt-3">Подписать</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>

    <div class="nav-bar">
        <ul>
            <li class="navItem" id="signature"><a href="/work/signature">Подписаные</a></li>
            <li class="navItem" id="settings"><a href="/work/settings">Настройки и профиль</a></li>
        </ul>
    </div>

    <div style="margin: 0 auto; width: 750px; border: 2px solid #0e1f4d; border-radius: 10px; padding: 25px;">
        {% autoescape off %}
            {{text}}
        {% endautoescape %}
    </div>

    <button name="send_sms" type="button" class="nav-link nav-text mt-3" style="margin: 0 auto; color: #fff; background-color: #3333a9; border-radius: 25px; width: 150px; height: 50px; font-weight: bold;text-align: center; padding-top: 15px;" data-toggle="modal" data-target="#myModal">Подписать</button>

   </div>
{% endblock work %}